*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:white ;
}
.gen{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    align-items: center;
    }
.container{
    display: flex;
    height: 20px;
    gap: 5px;
}
.container h2{
    margin: 0px;
    font-family:sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.icon{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.abc{
    position: relative;
}
.def{
    position: absolute;
    width: 70px;
    bottom: 20px;
    left: 50%;
}
.ghi{
    text-align: center;
    padding-bottom: 0px;
}
.jkl{
    justify-content: space-evenly;
    display: flex;
    gap: 20px;

}
.din{
    display: flex;
    justify-content: space-around;
}
h3{
    text-align: center;
}
.mno{
    display: flex;
    justify-content:center;
    margin: 20px;
    padding: 5px;
    gap: 20px;

}
.pqr{
    display: flex;
    justify-content:center;
    margin: 20px;
    padding: 5px;
    gap: 20px;
    }
.show{
    align-items: center;
    display: flex;
}
.stu{
    height: 200px;
  background-color: beige;
    position: relative;
    top: 30px;
    text-align: left;
    padding-top: 80px;
    top: 50px;

    
}
.tangle{
    position: absolute;
    right: 50px;
    gap: 100px;
    top: 20px;

}
.rec{
    position: absolute;
    left: 58%;
    top: 20px;
    gap: 100px;
}
button{
justify-content: center;
top: 30px;
left: 30px;
}
.ade{
    justify-content: center;
    margin: 50px;
}